<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./home.css" />
    <title>yoco.com</title>
    <!-- Scripts -->
    <script
      src="https://kit.fontawesome.com/e6eae71e18.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Top Bar -->
    <nav class="top_bar">
      <div class="headings">
        <img
          class="header_img"
          src="./images/images-removebg-preview.png"
          alt=""
        />
      </div>
      <div class="nav_links">
        <div class="nav_link">
          <button class="dropbtn" id="link1" onclick="myFunction()">
            Card Machine
          </button>
          <div class="dropdown-content" id="myDropdown">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
        <div class="nav_link">
          <button class="dropbtn" id="link2" onclick="myFunction1()">
            Online Payments
          </button>
          <div class="dropdown-content1" id="myDropdown1">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
        <div class="nav_link">
          <button class="dropbtn" id="link3" onclick="myFunction2()">
            Business Tools
          </button>
          <div class="dropdown-content2" id="myDropdown2">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
        <div class="nav_link"><a class="link" id="link4" href="#">Fees</a></div>
        <div class="nav_link">
          <a class="link" id="link5" href="#">Contact</a>
        </div>
      </div>
      <div class="login_links">
        <div class="links">
          <a class="login_link" id="link6" href="./login.html">Login</a>
        </div>
        <div class="links">
          <a class="login_link" id="link7" href="#"
            >Get started<i class="fas fa-arrow-right"></i
          ></a>
        </div>
      </div>
    </nav>
    <!-- /Top Bar -->
    <div class="content">
      <div class="info">
        <h1 class="heading">go or neo?</h1>
        <p class="header_p">
          Choose the card machine that's best for your small business.
        </p>
        <a class="header_btn" id="link8" href="#"
          >Buy now<i class="fas fa-arrow-right"></i
        ></a>
      </div>
      <div class="imaging"></div>
    </div>
    <script>
      /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }

      /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
      function myFunction1() {
        document.getElementById("myDropdown1").classList.toggle("show");
      }

      /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
      function myFunction2() {
        document.getElementById("myDropdown2").classList.toggle("show");
      }

      // Close the dropdown if the user clicks outside of it
      window.onclick = function (e) {
        if (!e.target.matches(".dropbtn")) {
          var myDropdown = document.getElementById("myDropdown");
          if (myDropdown.classList.contains("show")) {
            myDropdown.classList.remove("show");
          }
        }
      };
    </script>
  </body>
</html>
